.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    transition: color ease-in-out 0.3s;
}
  
.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}
  
.Button:hover:active {
    background-color: #64b6ac !important;
}
  
.Button:active {
    background-color: #64b6ac !important;
}
  
.Button:focus {
    background-color: #64b6ac;
}
  
.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Bright {
    background-color: #64b6ac;
    color: #ffffff;
}
  
.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: #64b6ac;
    color: #ffffff;
}
  
.BlueOutline,
.Blue:hover {
    border: 1px solid #64b6ac;
    background-color: #ffffff;
    color: #64b6ac;
}
  
.Black,
.BlackOutline:hover {
    background-color: #b6bbca;
    color: aliceblue;
}
  
.Black:hover,
.BlackOutline {
    background-color: #2ed9ff;
    color: #f8f8fa;
    border-color: #000;
    background-color: #fff;
}