.Form {
    border: none;
    border-bottom: 2px #64b6ac solid;
}
  
.Button {
    border: none;
    background-color: #64b6ac;
    transition: color ease-in-out 0.3s;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}
  
.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
    color: #64b6ac;
    background-color: #ffffff;
}