.FullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.25turn, #64b6ac, #ebf8e1, #64b6ac);
  overflow: hidden;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
}

.Form {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #dadadf;
  border-radius: 5px;
  margin-bottom: 16px;
  text-align: center;
}
.Row {
    height: 100%;
}

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #000000;
  text-align: center;
  padding: 10px;
}
  
.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #64b6ac;
}
  
.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}
  
.Link span {
  color: #F4743B;
}
  
.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}